<%if flash[:list_errors]%>
    <h2> Oh no! We ran into some issues with your inputs...</h2>
    <%flash[:list_errors].each do |error| %>
       <li> <%= error%> </li>
    <%end%>
<%end%>

<%= form_with model:@blogger do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br>
<%= f.label :bio%>
<%= f.text_field :bio%><br>
<%= f.age :age %>
<%= f.number_field :age, {min: 1} %><br>
<%= f.submit %>
<%end%>